.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .about-left{
        flex-basis: 60%;
        padding: 20px;
        h4{
            color: $crimson-color;
            font-size: $sub-heading-font;
            margin-bottom: 10px;
        }
        p{
            font-size: $para-font;
            line-height: 28px;
        }
        a{
            @include btn;
            &:hover{
                text-decoration: underline;
                color: $hover-color;
            }
        }
    }
    .about-menu{
        flex-basis: 40%;
        padding: 20px;
    }
    ul{ 
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
            a{
                background-color: $gray-color;
                color: $crimson-color;
                display: inline-block;
                padding: 10px 10px;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: $hover-color;
                }
            }
        }
    }
}