.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    .single-services{
        background-color: $gray-color;
        border: 1px solid #ddd;
        color: $mada-color;
        flex-basis: 33%;
        flex-direction: column;
        padding: 20px;
       
        h4{
            color: $mada-color;
            font-size: $sub-heading-font;
            margin-bottom: 10px;
        }
        p{
            @include para;
        }
        a{
            @include btn;
            &:hover{
                text-decoration: underline;
                color: $hover-color;
            }
        }
    }
}