//browser reset code
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid #ddd;
    margin: 100px auto;
    padding: 20px;
    width: 1140px;
}
a{
    color: $dark-color;
    text-decoration: none;
}
img{
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
}
@mixin btn{
    background-color: $mada-color;
    border-radius: 3px;
    color: $white-color;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    text-decoration: none;
}
@mixin para {
    font-size: $para-font;
    line-height: 28px;
    color: $mada-color;
}
@for $remon from 1 through 5 {
    .box-#{$remon}{
        width: 100px * $remon;
    }
}
@for $remon from 1 through 10 {
    .mt-#{$remon * 10}{
        margin-top: 10px * $remon;
    }
    .mb-#{$remon * 10}{
        margin-bottom: 10px * $remon;
    }
    .pt-#{$remon * 10}{
        padding-top: 10px * $remon;
    }
    .pb-#{$remon * 10}{
        padding-bottom: 10px * $remon;
    }
}