// variable-color
$base-color:#0984e3;
$mada-color:#333;
$theme-color:#70a1ff;
$crimson-color:#e74c3c;
$gray-color:#f1f2f6;
$dark-color:#000;
$headerbgcolor-color:#1abc9c;
$white-color:#fff;
$hover-color:#c56cf0;
